*{
    text-transform: capitalize;
    font-weight: 650;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.head{
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    height: 90px;
    background: rgb(9, 9, 141);
    display: flex;
}

.logo-text{
    margin-left: 1.5rem;
}

.head-list{
    align-items: center;
    display: flex;
    list-style-type: none;
}

a{
    text-decoration: none;
}
.head-list li a{

    color: white;
    margin: 10px;
}

.head-list li a:hover{
    color:yellow;
}

.img-logo{
    border: 2px solid white;
    margin-right: 1.5rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.right-list{
    display: flex;
    flex-direction: row;
}

.base{
    margin-top: 2rem;
    background-color: inherit;
    box-shadow: 0 0 12px;
    top: 95px;
    display: grid;
    height: 600px;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 0.1rem;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin: 0.5rem;
}

.main{
    
    margin-left: 0;
    border-radius: 5px;
    background: rgb(199, 199, 233);
    box-shadow: 0 0 12px;
}

.side{
    margin-left: 0;
    border-radius: 5px;
    background: rgb(199, 199, 233);
}
 
.cards{
    margin: 1rem;
    display: flex;
    flex-direction: row;
     
    
}

.card{
    justify-content:space-around;
    margin-left: 3rem;
  box-shadow: 0 0 9px;
  border-radius: 10px;
  display: grid;
  width: 18rem;
  text-align: justify;
}

.card-pic{
    width: 17rem;
margin: 10px;
border-radius: 10px;
}

.card-text{
    padding: 15px;
}